# ---------------------------------
# Miscellaneous (System + Editor)
# ---------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
migrate_working_dir/

# ---------------------------------
# Flutter & Dart
# ---------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/doc/api/
**/ios/Flutter/.last_build_id
*.lock

# ---------------------------------
# IDEs
# ---------------------------------

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# ---------------------------------
# Platform-specific builds
# ---------------------------------

# Android
/android/app/debug/
/android/app/profile/
/android/app/release/

# ---------------------------------
# Obfuscation / Symbolication
# ---------------------------------
app.*.symbols
app.*.map.json

# ---------------------------------
# Large or binary assets to ignore
# ---------------------------------
*.ttf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.psd
*.ico
*.mp4
*.mov
*.avi
*.zip
*.exe
